/* Variables */

:root {
	--clear-background: #FFF;
	--light-background: #F1F5F7;
	--dark-background: #32425C;
	--dark-background-extra: #293449;
	--header-light-background: rgba(0, 0, 0, 0.1);/*in hex #F3F7F8*/
	--heading-background: #F9F5F0;
	--catalog-background: #F7F3EC;

	--basic-type: #000;
	--basic-type-contrast: #FFF;
	--footer-type: #FFD180;

	--emphasis: #EE3643;
	--emphasis-hover: #CA2C37;
	--deal: #63A63E;
	--deal-shadow: #367315;
	--deal-hover: #5FBB2D;

	--basic-icon: #C5C5C5;
	--transparent-button: hsla(0, 0%, 100%, 0.3);
	--transparent-icon: hsla(0, 0%, 100%, 0.3);

	--transparent-button-hover: hsla(0, 0%, 77%, 0.3);

	--special-yellow: #FFBF47;
	--special-blue: #3BBCE3;
	--special-lillac: #DC91D8;
	--special-green: #8ED78F;
	--special-yellowlight: #FFC047;

}

/* Global */

.page{
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: center;
}

body {
	min-width: 960px;
	margin: 0;
	padding: 0;
	font-family: 'Cuprum', sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: normal;
	color: var(--basic-type);
	background-color: var(--clear-background);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

*, *::before, *::after {
	box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
  }

.heading-main {
	background-color: var(--heading-background);
	display: flex;
	justify-content: space-between;
	padding-left: 28px;
	padding-right: 14px;
	align-items: center;
	margin-bottom: 20px;
}

.heading-main h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: normal;
	color: var(--dark-background);	
	margin: 32px 0;
}

 /* Extra font */

.popular-goods-list,
.services p,
.about p,
.contacts p,
.page-button,
.catalog-article p,
.path-link,
.filter {
	font-family: 'PT Sans', sans-serif;
}

 /* Button */

.page-button {
	border-color: #E5E5E5;
	border-width: 1px;
	border-radius: 2px;
	border-style: solid;
	background-color: transparent;
	text-transform: uppercase;
}

.button {
	display: inline-block;
	min-width: 192px;
	text-align: center;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 7px;
	padding-bottom: 7px;
	text-transform: uppercase;
	color: var(--basic-type-contrast);
	background-color: var(--emphasis);
	font-size: 14px;
	border-style: none;
	font-family: inherit;
}

.button:hover {
	background-color: var(--emphasis-hover);
}

.button-deal {
	color: var(--basic-type-contrast);
	background-color: var(--deal);
	text-transform: uppercase;
	border-style: none;
}

.button-deal:hover {
	background-color: var(--deal-hover);
	cursor: pointer;
}

a.button-deal {
	text-transform: none;
}

.sign-button, .header-username {
	font-size: 21px;
	color: var(--basic-type);
	background-color: var(--basic-type-contrast);
	border-style: none;
}

.sign-button:hover {
	color: var(--emphasis);
}

/* Header */

.main-header {
	background-color: var(--header-light-background);
	margin-bottom: 59px;
	padding-bottom: 60px;
}

.top-bar {
	font-size: 18px;
	line-height: 18px;
	color: var(--basic-type-contrast);
	background-color: var(--dark-background-extra);
	margin-bottom: 30px;
}

.top-bar a {
	color: var(--basic-type-contrast);
	height: 42px;
}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0;
}

.top-bar [for="search-main"] {
	margin-right: -60px;
}

.top-bar [type="search"] {
	background-color: transparent;
	border-style: none;
	min-height: 42px;
	padding-left: 60px;
	width: 270px;
}

.top-bar-button {
	padding: 12px;
	padding-left: 45px;
	justify-self: end;
}

.top-bar .button-deal {
	padding: 12px;
	justify-self: end;
}

.header-bottom {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 24px;
}

.header-bottom nav {
	grid-column: 1 / -1;
}

.header-contacts {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.header-sign-zone {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.signed {
	flex-wrap: wrap;
}

.main-navigation {
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
}

.main-navigation a {
	color: var(--basic-type-contrast);
	background-color: var(--dark-background);
}

.main-navigation a:hover {
	background-color: var(--dark-background-extra);
}

.header-emphasis {
	color: var(--emphasis);
	font-style: italic;
	margin-left: 30px;
	font-size: 16px;
}

.header-tel {
	color: var(--emphasis);
	font-weight: bold;
	font-size: 21px;
}

.header-extra-link {
	color: var(--dark-background);
	font-size: 16px;
}

.header-extra-link:hover {
	color: var(--emphasis);
}

.header-address {
	font-size: 14px;	
}

/* Main */

/* Special */
.special {
	padding-bottom: 60px;
}

.special-list {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.slider {
	background-color: #2d231e;
	grid-row: 2 / -1;
	grid-column: 1 / -2;
}

.special-item a {
	color: var(--basic-type-contrast);
	font-size: 24px;
	display: block;
	min-height: 123px;
	font-weight: bold;
	padding-left: 22px;
	padding-top: 7px;
}

.special-item span {
	display: inline-block;
}

.special-button {
	font-size: 14px;
	text-transform: uppercase;
	background-color: var(--transparent-button);
	min-width: 30px;
	padding: 20px;
}

.special-material {
	background-color: var(--special-yellow);
}

.special-tools {
	background-color: var(--special-blue);
}

.special-equipment {
	background-color: var(--special-lillac);
}

.special-discount {
	background-color: var(--special-green);
}

.special-delivery {
	background-color: var(--special-yellowlight);
}

.slider h3 {
	text-transform: uppercase;
	color: var(--basic-type-contrast);
	font-size: 36px;
	margin: 0;
}

.slider p {
	color: var(--basic-type-contrast);
}

.slider a {
	color: var(--basic-type-contrast);
}

a:hover .special-button {
	background-color: var(--transparent-button-hover);
}

/* Popular goods */

.popular-goods {
	padding-bottom: 60px;
}

.goods-action {
	display: none;
}

.popular-goods ul, .catalog-list ul {
	list-style: none;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(4 , 1fr);
	grid-gap: 20px;
	margin: 0;
}

.goods-item {
	font-weight: bold;
}

.goods-item p {
	font-size: 17px;
}

.past-price {
	color: #C5C5C5;
	text-decoration: line-through;
}

.actual-price {
	background-color: var(--emphasis);
	color: var(--basic-type-contrast);
}

.button-bookmark {
	color: var(--dark-background);
	background-color: transparent;
	text-transform: uppercase;
	border-color: var(--deal);
	border-style: solid;
}

.button-bookmark:hover {
	border-color: var(--dark-background);
}

.goods-item:hover .goods-action {
	display: block;
}

/* Popular manufacturers */

.popular-manufacturers {
	padding-bottom: 60px;
}

.popular-manufacturers .heading-main {
	padding-right: 19px;
}

.manufacturers-list {
	padding-left: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
	margin: 0;
}

.manufacturers-list a {
	display: flex;
	min-height: 145px;
	border: solid 1px #EAEAEA;
	justify-content: center;
	align-items: center;
}

.manufacturers-list a:hover {
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

/* Services */

.services {
	padding-top: 60px;
	padding-bottom: 60px;
}

.heading-extra {
	font-size: 30px;
	text-transform: uppercase;
	color: var(--basic-type);
	margin: 0;
	margin-bottom: 28px;
	font-weight: normal;
}

.services-paragraph {
	width: 400px;
	margin-bottom: 66px;
}

.services p, .about p, .contacts p, .catalog-article p {
	font-size: 13px;
}

.services, .catalog-article {
	background-color: var(--light-background);
}

.services-list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 240px;
}

.tabs {
	display: flex;
	margin-bottom: ;
}

.services-list button {
	background-color: var(--dark-background);
	color: var(--basic-type-contrast);
	font-weight: bold;
	font-size: 21px;
	font-family: inherit;
	border-style: none;
	width: 240px;
	min-height: 61px;
}

.services button:hover {
	background-color: var(--dark-background-extra);
}

/* Main bottom */

.main-bottom {
	display: flex;
	justify-content: space-between;
	padding-top: 70px;
	padding-bottom: 60px;
}

.main-bottom p {
	margin-bottom: 0;
}

.about {
	width: 480px;
}

.about ul {
	font-size: 18px;
	list-style: none;
	margin: 0;
}

.contacts {
	width: 400px;
}

/* Footer */
.main-footer p {
	margin: 0;
}

.footer-nav {
	background-color: var(--dark-background);
}

.footer-nav .wrapper {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 380px 1fr;
	padding-bottom: 30px;
}

.footer-nav ul {
	grid-row: 1 / -1;
	grid-column: 2 / -1;
	display: flex;
	padding: 0;
	flex-wrap: wrap;
	justify-content: space-between;
}

.footer-nav li {
	margin-left: 35px;
	margin-bottom: 30px;
}

.footer-nav li:first-child {
	margin-left: 0;
}

.footer-linkbar {
	background-color: var(--dark-background-extra);
	padding: 35px 0;
	font-size: 16px;
}

.footer-social {
	padding-left: 0;
	width: 130px;
	justify-self: center;
}

.footer-feedback {
	max-width: 300px;
	margin: 0;
	justify-self: end;
	display: flex;
}

.footer-linkbar p {
	margin: 0;
}

.footer-linkbar .wrapper {
	display: grid;
	grid-template-columns: repeat(3 , 1fr);
}

.main-footer ul {
	list-style: none;
}

.main-footer {
	color: var(--light-background);
	line-height: 18px;	
}

.main-footer a {
	color: inherit;
}

.main-footer a:hover {
	text-decoration: underline;
}

.footer-extra-color a, a.footer-extra-color {
	color: var(--footer-type);
}

.footer-copyright {
	width: 240px;
	margin: 0;
}
/* Catalog */

.page-catalog {
	display: grid;
	grid-template-columns: 220px 1fr;
	grid-gap: 20px;
	align-content: start;
	padding-bottom: 60px;
}

.catalog-list ul {
	grid-template-columns: repeat(3, 1fr);
}

div.sort {
	/* я не понимаю как эту панель наверх поставить */
}

.goods-item {
	width: 220px;
	min-height: 318px;
}
  
.goods-item img {
	width: 184px;
	height: 164px;
}

.heading-catalog {
	padding: 30px;
	text-transform: uppercase;
	background-color: var(--header-light-background);
	grid-column: 1 / -1;
}

.heading-catalog h2 {
	margin: 0;
	padding: 0;
}

.breadcrumbs {
	grid-column: 1 / -1;
	margin-bottom: 20px;
}

.path-link {
	text-transform: uppercase;
	font-size: 13px;
}

.filter {
	text-transform: uppercase;
}

.filter-button {
	text-transform: inherit;
}

.filter-heading {
	font-weight: bold;
	font-size: 17px;
}

.sort {
	background-color: var(--catalog-background);
	font-size: 13px;
}

.sort-button {
	text-transform: inherit;
	background-color: transparent;
	border-style: none;
	color: #adaaa5;
	border-bottom: dotted var(--emphasis) 1px;
}

.sort-active {
	color: var(--emphasis);
	opacity: 1;
	border-bottom: 0;
}

.range-box {
	background-color: var(--catalog-background);
}

.range span {
	background-color: var(--catalog-background);
}

.catalog-article {
	padding-top: 70px;
	padding-bottom: 60px;
}